@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
     font-family: "Karla", sans-serif;
}
.header__container{
    width: 100%;
    height: 700px;
    background-color: #2D2641;
}
.nav{
    width: 100%;
    height: 80px;
    
    background-color: white;
}
.img{
    position: relative;
    top: 30px;
    left: 160px;
}
.div{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 160px;
    gap: 25px;
    letter-spacing: 1.5px;
}
.div li{
    font-size: 13px;
    font-weight: 700;
    color: #837D88;
}
.div li a{
    color: #837D88;
}
.button{
    width: 146px;
    height: 40px;
    position: relative;
    bottom: 13px;
    background-color: white;
    color:#2C2830;
    border: 2px solid #2C2830;
    letter-spacing: 1.5px;
}
.button:hover{
    background-color: #2C2830;
    color: white;
}
.stick{
    position: relative;
    top: 105px;
    left: 160px;
}
.box{
    margin-left: 165px;
    position: relative;
    bottom: 50px;

}
.h1{
     font-family: "DM Serif Display", serif;
     color: white;
     font-weight: 400;
     font-size: 72px;
     margin-top: 169px;
}
.p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 26px;
}
.btn{
    letter-spacing: 1.5px;
     width: 146px;
    height: 40px;
    background-color: #2D2641;
    border: 1.5px solid white;
    color: white;
    margin-top: 24px;
}
.line{
    position: relative;
    bottom: 200px;
}
.Bitmap{
    margin-left: 635px;
   position: relative;
   bottom: 500px;
}
.section{
    width: 100%;
}
.dection{
    width: 1110px;
    margin: auto;
}
.we{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 72px;
}
.kartochki{
    width: 350px;
    height: 250px;
    
    
    
}
.dection{
    position: relative;
    bottom: 230px;
}
.h2{
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    font-weight: 28;
    margin-top: 32px ;
}
.indection{
        display: flex;
        gap: 30px;
        margin-top: 96px;
}
.kartochki p{
    color: #837D88;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;

}
.megaline{
    width: 1110px;
    height: 250px;
    background-color: #2D2641;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.find{
    font-family: "DM Serif Display", serif;
    font-size: 56px;
    color: white;
    font-weight: 400;
    line-height: 56px;
    margin-left: 50px;
}
.megaline button{
       position: relative;
       left: 400px ;
       width: 160px;
       height: 40px;
        background-color: transparent;
        border: 2px solid white; 
        color: white;
}
.footer{
    margin-top: 150px;
    background-color: #FAFAFA;
    height: 393px;
}
.INSURE{
    margin-left: 165px;
    margin-top: 100px;
}
.loline{
margin-left: 165px;    
margin-top: -100px;
}
.social{
    margin-left: 850px;

}
.describ{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 48px;
}
.facts{
    width: 255px;
    height: 159px;
    
}
.pa{
    color: #837D88;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.pb{
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 36px ;
}
.pc{
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 16px;
}


/* ========== планшет 768px ========== */
@media (max-width: 768px) {

    /* HEADER */
    .nav {
        position: relative;
        height: auto;
        padding: 20px;
    }

    .burger {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
        z-index: 200;
    }

    .ul {
        flex-direction: column;
        align-items: center;
        display: none;
        gap: 20px;
        background: white;
        width: 100%;
        padding: 20px 0;
    }

    .ul.active {
        display: flex;
    }

    .div {
        flex-direction: column;
        margin: 0;
        gap: 20px;
        text-align: center;
    }

    .img {
        position: static;
        margin-bottom: 20px;
    }

    /* HERO */

    .box {
        margin-left: 0;
        padding: 40px;
        text-align: center;
    }

    .h1 {
        font-size: 48px;
        margin-top: 40px;
    }

    .Bitmap {
        position: static;
        margin: 0 auto;
        width: 100%;
        display: block;
    }

    .stick,
    .line {
        display: none;
    }

    .header__container {
        height: auto;
        padding-bottom: 40px;
    }

    /* КАРТОЧКИ */
    .indection {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .dection {
        width: 90%;
        bottom: 0;
        margin-top: 100px;
    }

    .we {
        text-align: center;
        font-size: 48px;
    }

    /* CTA */
    .megaline {
        width: 90%;
        height: auto;
        padding: 30px;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .find {
        font-size: 32px;
        margin-left: 0;
    }

    .megaline button {
        left: 0;
    }

    .megaline img {
        display: none;
    }

    /* FOOTER */
    .footer {
        height: auto;
        padding: 40px 0;
    }

    .end {
        text-align: center;
        margin-bottom: 40px;
    }

    .INSURE {
        margin: 0;
    }

    .social {
        margin: 20px auto;
        display: block;
    }

    .loline {
        margin: 20px auto;
    }

    .describ {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
}

/* ========== мобильный 480px ========== */
@media (max-width: 480px) {

    .h1 {
        font-size: 38px;
    }

    .p {
        font-size: 15px;
    }

    .find {
        font-size: 28px;
    }

    .bitmap {
        width: 100%;
    }

    .kartochki {
        width: 100%;
    }
}